[Unit]
Description=Check number of Out-of-Date packages periodically

[Timer]
OnBootSec=10min
OnUnitActiveSec=3hour
Unit=updatechecker.service

[Install]
WantedBy=timers.target

