[Unit]
Description=Check number of out-of-date packages
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "checkupdates | wc -l > ~/.package_updates"

[Install]
WantedBy=default.target
