[Unit]
Description=Check number of Out-of-Date packages periodically

[Timer]
OnBootSec=8min
OnUnitActiveSec=2hour
Unit=updatechecker.service

[Install]
WantedBy=timers.target

