
#include ".Xresources.d/colors/light-choco"
! #include ".Xresources.d/colors/medium-roast"
! #include ".Xresources.d/colors/rosewould"
! #include ".Xresources.d/colors/chocolate"
! #include ".Xresources.d/colors/sea-fox"
! #include ".Xresources.d/colors/sour-candy"
! #include ".Xresources.d/colors/colorful"
! #include ".Xresources.d/colors/nature-suede"
! #include ".Xresources.d/colors/chalk"
! #include ".Xresources.d/colors/apple-dark"
! #include ".Xresources.d/colors/zenburn"
! #include ".Xresources.d/colors/rainbow"

#include ".Xresources.d/urxvt"
#include ".Xresources.d/i3wm"

